{% load static %}

 <!-- =========================  HEADER 2 ========================= -->
<div class="d-flex h-100 text-center text-white bg-dark">
  
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<header class="mb-auto">
		<div>
			<a href="{% url 'inicio' %}">
				<h3 class="float-md-start mb-0 text-white" style="padding-right: 15px;">Branches</h3> </a>


			
			
			<a class="nav-link dropdown-toggle float-md-start mb-0 nav-link px-2 text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Objetivos
			</a>

			<a href="" class="float-md-start mb-0 nav-link px-2 text-white">Posts</a>
				
				<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Fin de la pobreza</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Hambre cero</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Salud y bienestar</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Educación de calidad</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Igualdad de género</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Agua limpia y saneamiento</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Energía asequible y no contaminante</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Trabajo decente y crecimiento económico</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Agua, industria, innovación e insfraestructura</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Reducción de las desigualdades</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Ciudades y comunidades sostenibles</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Producción y consumos responsables</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Acción por el clima</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Vida submarina</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Vida de ecocistemas terrestres</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Paz, justicia e instituciones sólidas</a></li>
					<li><a class="dropdown-item" href="{% url 'objetivos' %}">Alianzas para lograr los objetivos</a></li>
				</ul>
			
			

			{% if user.is_superuser or user.es_administrador %}
				<a href="{% url 'usuarios:admin_listar' %}" class="float-md-start mb-0 nav-link px-2 text-white">Usuarios</a>
			{% endif %}


			<nav class="nav nav-masthead justify-content-center float-md-end">


				{% if user.is_authenticated and user.is_superuser or user.es_administrador or user.writer %}
					<div style="padding-right: 25px;">
						<a href="{% url 'posts:agregar_posts' %}" class="btn btn-outline-light me-0">
							<img src="{% static 'plus-square.svg' %}" style="width: 25px; "> Nuevo Post
						</a>

					</div>
				{% endif %}
				
				
				{% if not user.is_authenticated %}

					<a href="{% url 'login' %}" class="float-md-start mb-0 btn btn-outline-light me-2 ">Iniciar Sesion </a>

					<a href="{% url 'usuarios:registro' %}" class="float-md-start mb-0 btn btn-warning">Registrarse</a>
				{% else %}

					<a href="{% url 'usuarios:perfil' %}" class="float-md-start mb-0 btn btn-outline-light me-2">
						<img src="{% static 'person-circle.svg' %}" style="width: 20px;"> {{user.username}}
					</a>

					<a href="{% url 'logout' %}" class="float-md-start mb-0 btn btn-outline-warning">Cerrar Sesion</a>
				{% endif %}


			</nav>
		</div>
		</header>


	</div>

</div>


 <!-- =========================   HEADER 1  ========================= -->
<!-- 
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <img src="{% static 'B-50px.png' %}">
        <li><a href="{% url 'inicio' %}" class="nav-link px-2 text-white" >Inicio</a></li>
        
        {% if user.is_superuser or user.es_administrador %}
          <li><a href="{% url 'usuarios:admin_listar' %}" class="nav-link px-2 text-white">Usuarios</a></li>
        {% endif %}

      </ul>

      
      {% if user.is_authenticated and user.is_superuser or user.es_administrador or user.writer %}
        <div>
          <a href="{% url 'posts:agregar_posts' %}" >
            <button type="button"  class="btn btn-outline-light me-5"> 
              <img src="{% static 'plus-square.svg' %}" style="width: 25px;"> Nuevo Post
            </button>
			  </a>

        </div>
      
      {% endif %}

      <div class="text-end">
        
        {% if not user.is_authenticated %}

            <a href="{% url 'login' %}">
              <button type="button" class="btn btn-outline-light me-2 ">Iniciar Sesion</button>
            </a>

            <a href="{% url 'usuarios:registro' %}">
              <button type="button" class="btn btn-warning">Registrarse</button>
            </a>

          
        {% else %}

			<a href="{% url 'usuarios:perfil' %}">
				<button type="button" class="btn btn-outline-light me-2">
          <img src="{% static 'person-circle.svg' %}" style="width: 25px;"> {{user.username}}</button>
			</a>

			<a href="{% url 'logout' %}">
				<button type="button" class="btn btn-warning">
					Cerrar Sesion
				</button>
			</a>
        {% endif %}
          
      </div>
    </div>
  </div>
</header> -->