{% extends 'base/base.html' %}

{% block titulo %}<title>Mis Posts</title>{% endblock titulo %}


{% load static %}


{% block contenido %}



<main class="container py-6">
    
    <div class="row" style="padding: 10px;">
        <div class="col-md-2 p-lg-4 mx-auto my-2">
            
            <!-- <button type="button"> <a href="{% url 'posts:agregar_posts' %}">Agregar</a> </button> -->
            <a class="btn btn-primary btn-lg" href="{% url 'usuarios:perfil' %}" >Volver Atrás</a>
            <!-- <button type="button"> <a href="{% url 'inicio' %}">Ir al inicio</a> </button> -->
        </div>
    </div>

    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;">

        {% for post in posts %}

            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{post.titulo}}
                        {% if post.es_borrador %}
                            <button type="button" class="btn btn-warning btn-sm">Borrador</button>
                        {% endif %}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">tema</h6>
                    <p class="card-text">{{post.cuerpo}}</p>

                    <a href="{% url 'posts:ver_post' post.id %}">
                        <button type="button" class="btn btn-outline-dark">Ver</button>
                    </a>
{% comment %} 
                    <a href="{% url 'posts:editar_post' post.id %}">
                        <button type="button" class="btn btn-outline-dark">Editar</button>
                    </a>

                    <a href="{% url 'posts:delete_post' post.id %}">
                        <button type="button" class="btn btn-outline-dark">Borrar</button>
                    </a> {% endcomment %}
                    
                    
                </div>
            </div>

        {% endfor %}
        
    </div>

</main>

{% endblock contenido %}