{% extends 'base/base.html' %}


{% block titulo %}<title>Nuevo Post</title>{% endblock titulo %}

{% block contenido %}
    
    {% include "includes/form_errors.html" %}
<main class="container py-6">
    <div class="container-xxl my-md-4 bd-layout">

        <form method="post">{% csrf_token %}
            {{form.as_p}}
            
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-lg btn-outline-success">Guardar</button>
                    <a href="{% url 'inicio' %}" class="btn btn-lg btn-outline-dark">
                        Volver
                    </a>
                </div>
            </div>
        </form>
    </div>
</main>
    <!-- <a href="{ url 'posts:inicio_post' }">
        <button type="button"> Cancelar </button>
    </a> -->

    
{% endblock contenido %}
    
