{% extends 'base/base.html' %}

{% block titulo %}<title>Mis Posts</title>{% endblock titulo %}


{% load static %}


{% block contenido %}

    <div class="row" style="padding: 10px;">
        <div class="col-md-1 p-lg-2 mx-auto my-2">
            
            <!-- <button type="button"> <a href="{% url 'posts:agregar_posts' %}">Agregar</a> </button> -->
            <a class="btn btn-primary btn-lg" href="{% url 'usuarios:perfil' %}" >Volver Atrás</a>
            <!-- <button type="button"> <a href="{% url 'inicio' %}">Ir al inicio</a> </button> -->
        </div>
    </div>

<main >
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;">

        {% for x in posts %}

            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{x.autor}}
                        {% if x.es_borrador %}
                            <button type="button" class="btn btn-warning btn-sm">Borrador</button>
                        {% endif %}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">tema</h6>
                    <p class="card-text">{{x.cuerpo}}</p>
                    <button type="button" class="btn btn-outline-dark">Ver</button>
                    <button type="button" class="btn btn-outline-dark">Editar</button>
                    <button type="button" class="btn btn-outline-dark">Borrar</button>
                </div>
            </div>

        {% endfor %}
        
    </div>

</main>

{% endblock contenido %}