{% extends 'base/base.html' %}

{% block titulo %}<title>Eliminar Usuario</title>{% endblock titulo %}

{% block contenido %}

    <main class="container py-6">
        <h1>DELETE USER</h1>

        <div class="col-3 col-md">
            <form method="post" >{% csrf_token %}

                <p>¿Eliminar el Usuario {{object.username}}?</p>
        
                <button type="submit" class="btn btn-danger btn-lg">Borrar</button>
                <a href="{% url 'usuarios:admin_listar' %}"  class="btn btn-secondary btn-lg">Cancelar</a>
            </form>
        </div>
        
    </main>
{% endblock contenido %}

