{% extends 'base/base.html' %}

{% block titulo %}<title>Branches</title>{% endblock titulo %}

{% block contenido %}

<style>
	body{
		background-color:aliceblue;
	}
</style>


	<!-- <h1>Bootstrap and Masonry</h1>
	<p class="lead">Integrate <a href="https://masonry.desandro.com/">Masonry</a> with the Bootstrap grid system and cards component.</p>
  
	<p>Masonry is not included in Bootstrap. Add it by including the JavaScript plugin manually, or using a CDN like so:</p>
  
	<pre><code>
  &lt;script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async&gt;&lt;/script&gt;
	</code></pre>
  
	<p>By adding <code>data-masonry='{"percentPosition": true }'</code> to the <code>.row</code> wrapper, we can combine the powers of Bootstrap's responsive grid and Masonry's positioning.</p>
   -->

	<main class="container py-6">
	</main>
	
	
<main class="container" style="width: 100%;">

		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			{% for post in posts %}
				{% if not post.es_borrador %}

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{post.titulo}}</h5>
							<div class="card">
								
								<div class="card-body">	
									<p class="card-text">{{post.cuerpo}}</p>
									<p class="card-text"><small class="text-muted">{{post.autor}} - {{post.fecha_creacion}}</small></p>
								</div>
							</div>
							<div style="padding-top: 10px;">
								<a class="btn btn-outline-secondary btn-sm" href="#" >Comentar Este Post</a>
							</div>

						</div>
					</div>
				{% endif %}
				
				{% for coment in comments %}
					<div class="card">
									
						<div class="card-body">	
							<p class="card-text">{{comment.comentario}}</p>
							<p class="card-text"><small class="text-muted">{{comment.autor}} - {{comment.fecha_creacion}}</small></p>
						</div>
					</div>
				
				{% endfor %}
				
			{% endfor %}
		</div>
    
      <div class="col-md-6 px-0">
			<img src="static/objetivos/img_obj_comp.jpg" width="200%" height="250" preserveAspectRatio="xMidYMid slice" focusable="false"> 
			</div>
  		</div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 1</font></font></h3></strong>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para lograr este Objetivo de acabar con la pobreza, el crecimiento económico debe ser inclusivo, con el fin de crear empleos sostenibles y de promover la igualdad.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo1.jpg" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false"> 

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 2</font></font></h3></strong>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">El sector alimentario y el sector agrícola ofrecen soluciones claves para el desarrollo y son vitales para la eliminación del hambre y la pobreza.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo2.jpg" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>

</div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 3</font></font></h3></strong>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para lograr los Objetivos de Desarrollo Sostenible, es fundamental garantizar una vida saludable y promover el bienestar universal.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo3.jpg" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false"> 

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 4</font></font></h3></strong>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La educación es la base para mejorar nuestra vida y el desarrollo sostenible..</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo4.png" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 5</font></font></h3></strong>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La igualdad entre los géneros no es solo un derecho humano fundamental, sino la base necesaria para conseguir un mundo pacífico, próspero y sostenible.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo5.jpg" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false"> 

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 6</font></font></h3></strong>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">El agua libre de impurezas y accesible para todos es parte esencial del mundo en que queremos vivir.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo6.png" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 7</font></font></h3></strong>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La energía es central para casi todos los grandes desafíos y oportunidades a los que se enfrenta el mundo en la actualidad.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo7.jpg" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false"> 

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 8</font></font></h3></strong>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Debemos reflexionar sobre este progreso lento y desigual, y revisar nuestras políticas económicas y sociales destinadas a erradicar la pobreza.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo8.jpg" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 9</font></font></h3></strong>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Las inversiones en infraestructura son fundamentales para lograr un desarrollo sostenible.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo9.png" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false"> 

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 10</font></font></h3></strong>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Reducir la desigualdad en y entre los países.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo10.png" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>
   <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 11</font></font></h3></strong>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Las inversiones en infraestructura son cruciales para lograr el desarrollo sostenible.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo11.jpg" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false"> 

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 12</font></font></h3></strong>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">El objetivo del consumo y la producción sostenibles es hacer más y mejores cosas con menos recursos.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo12.jpg" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>
   <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 13</font></font></h3></strong>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">El cambio climático es un reto global que no respeta las fronteras nacionales.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo13.png" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false"> 

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 14</font></font></h3></strong>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Conservar y utilizar en forma sostenible los océanos, los mares y los recursos marinos para el desarrollo sostenible.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo14.png" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>
   <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 15</font></font></h3></strong>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gestionar sosteniblemente los bosques, luchar contra la desertificación, detener e invertir la degradación de las tierras y detener la pérdida de biodiversidad.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo15.jpg" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false"> 

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 16</font></font></h3></strong> 
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acceso universal a la justicia y la construcción de instituciones responsables y eficaces a todos los niveles.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo16.png" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong><h3 class="d-inline-block mb-2 text-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Objetivo 17</font></font></h3></strong>
          <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Revitalizar la Alianza Mundial para el Desarrollo Sostenible.</font></font></p>
          <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">sigue leyendo</font></font></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="static/objetivos/objetivo17.jpg" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false"> 
</main>  



{% endblock contenido %}