{% extends 'base/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS only   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--
    <link rel="stylesheet" href="css/estilos.css">
    -->
    </head>

	{% block titulo %}
		<title>Los 17 ODS</title>
	{% endblock titulo %}
		

	{% block contenido %}


		<main class="container py-6">
			<h1 class="text-center">OBJETIVOS DE DESARROLLO SOSTENIBLE</h1>
			<h5 class="text-center">17 OBJETIVOS PARA TRANSFORMAR NUESTRO MUNDO</h5>
			

		<body>
		
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 1</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td>Para 2030, erradicar la pobreza extrema para todas las personas en el mundo, actualmente medida por un ingreso por persona inferior a 1,25 dólares al día.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td>Para 2030, reducir al menos a la mitad la proporción de hombres, mujeres y niños y niñas de todas las edades que viven en la pobreza en todas sus dimensiones con arreglo a las definiciones nacionales.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Poner en práctica a nivel nacional sistemas y medidas apropiadas de protección social para todos y, para 2030, lograr una amplia cobertura de los pobres y los más vulnerables.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">Para 2030, garantizar que todos los hombres y mujeres, en particular los pobres y los más vulnerables, tengan los mismos derechos a los recursos económicos, así como acceso a los servicios básicos, la propiedad y el control de las tierras y otros bienes, la herencia, los recursos naturales, las nuevas tecnologías y los servicios económicos, incluida la microfinanciación.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">Para 2030, fomentar la resiliencia de los pobres y las personas que se encuentran en situaciones vulnerables y reducir su exposición y vulnerabilidad a los fenómenos extremos relacionados con el clima y a otros desastres económicos, sociales y ambientales.</td>
    				</tr>
  				</tbody>
			</table>
		
    		<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 2</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td>Para 2030, poner fin al hambre y asegurar el acceso de todas las personas, en particular los pobres y las personas en situaciones vulnerables, incluidos los lactantes, a una alimentación sana, nutritiva y suficiente durante todo el año.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td>Para 2030, poner fin a todas las formas de malnutrición, incluso logrando, a más tardar en 2025, las metas convenidas internacionalmente sobre el retraso del crecimiento y la emaciación de los niños menores de 5 años, y abordar las necesidades de nutrición de las adolescentes, las mujeres embarazadas y lactantes y las personas de edad.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Para 2030, duplicar la productividad agrícola y los ingresos de los productores de alimentos en pequeña escala, en particular las mujeres, los pueblos indígenas, los agricultores familiares, los pastores y los pescadores, entre otras cosas mediante un acceso seguro y equitativo a las tierras, a otros recursos de producción e insumos, conocimientos, servicios financieros, mercados y oportunidades para la generación de valor añadido y empleos no agrícolas</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2"> Para 2030, asegurar la sostenibilidad de los sistemas de producción de alimentos y aplicar prácticas agrícolas resilientes que aumenten la productividad y la producción, contribuyan al mantenimiento de los ecosistemas, fortalezcan la capacidad de adaptación al cambio climático, los fenómenos meteorológicos extremos, las sequías, las inundaciones y otros desastres, y mejoren progresivamente la calidad del suelo y la tierra.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">Aumentar las inversiones, incluso mediante una mayor cooperación internacional, en la infraestructura rural, la investigación agrícola y los servicios de extensión, el desarrollo tecnológico y los bancos de genes de plantas y ganado a fin de mejorar la capacidad de producción agrícola en los países en desarrollo, en particular en los países menos adelantados</td>
    				</tr>
  				</tbody>
			</table>

			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 3</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">Para 2030, reducir la tasa mundial de mortalidad materna a menos de 70 por cada 100.000 nacidos vivos.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">Para 2030, poner fin a las muertes evitables de recién nacidos y de niños menores de 5 años, logrando que todos los países intenten reducir la mortalidad neonatal al menos hasta 12 por cada 1.000 nacidos vivos, y la mortalidad de niños menores de 5 años al menos hasta 25 por cada 1.000 nacidos vivos.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Para 2030, poner fin a las epidemias del SIDA, la tuberculosis, la malaria y las enfermedades tropicales desatendidas y combatir la hepatitis, las enfermedades transmitidas por el agua y otras enfermedades transmisibles.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">Para 2030, reducir en un tercio la mortalidad prematura por enfermedades no transmisibles mediante la prevención y el tratamiento y promover la salud mental y el bienestar.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">Fortalecer la prevención y el tratamiento del abuso de sustancias adictivas, incluido el uso indebido de estupefacientes y el consumo nocivo de alcohol.</td>
    				</tr>
  				</tbody>
			</table>

			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 4</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">De aquí a 2030, asegurar que todas las niñas y todos los niños terminen la enseñanza primaria y secundaria, que ha de ser gratuita, equitativa y de calidad y producir resultados de aprendizaje pertinentes y efectivos.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">De aquí a 2030, asegurar que todas las niñas y todos los niños tengan acceso a servicios de atención y desarrollo en la primera infancia y educación preescolar de calidad, a fin de que estén preparados para la enseñanza primaria.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">De aquí a 2030, asegurar el acceso igualitario de todos los hombres y las mujeres a una formación técnica, profesional y superior de calidad, incluida la enseñanza universitaria</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">De aquí a 2030, aumentar considerablemente el número de jóvenes y adultos que tienen las competencias necesarias, en particular técnicas y profesionales, para acceder al empleo, el trabajo decente y el emprendimiento.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">De aquí a 2030, eliminar las disparidades de género en la educación y asegurar el acceso igualitario a todos los niveles de la enseñanza y la formación profesional para las personas vulnerables, incluidas las personas con discapacidad, los pueblos indígenas y los niños en situaciones de vulnerabilidad.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 5</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">Poner fin a todas las formas de discriminación contra todas las mujeres y las niñas en todo el mundo.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">Eliminar todas las formas de violencia contra todas las mujeres y las niñas en los ámbitos público y privado, incluidas la trata y la explotación sexual y otros tipos de explotación.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Eliminar todas las prácticas nocivas, como el matrimonio infantil, precoz y forzado y la mutilación genital femenina.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">Reconocer y valorar los cuidados y el trabajo doméstico no remunerados mediante servicios públicos, infraestructuras y políticas de protección social, y promoviendo la responsabilidad compartida en el hogar y la familia, según proceda en cada país.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">Asegurar la participación plena y efectiva de las mujeres y la igualdad de oportunidades de liderazgo a todos los niveles decisorios en la vida política, económica y pública.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 6</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">De aquí a 2030, lograr el acceso universal y equitativo al agua potable a un precio asequible para todos.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">De aquí a 2030, lograr el acceso a servicios de saneamiento e higiene adecuados y equitativos para todos y poner fin a la defecación al aire libre, prestando especial atención a las necesidades de las mujeres y las niñas y las personas en situaciones de vulnerabilidad.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">De aquí a 2030, mejorar la calidad del agua reduciendo la contaminación, eliminando el vertimiento y minimizando la emisión de productos químicos y materiales peligrosos, reduciendo a la mitad el porcentaje de aguas residuales sin tratar y aumentando considerablemente el reciclado y la reutilización sin riesgos a nivel mundial.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">De aquí a 2030, aumentar considerablemente el uso eficiente de los recursos hídricos en todos los sectores y asegurar la sostenibilidad de la extracción y el abastecimiento de agua dulce para hacer frente a la escasez de agua y reducir considerablemente el número de personas que sufren falta de agua.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">De aquí a 2030, implementar la gestión integrada de los recursos hídricos a todos los niveles, incluso mediante la cooperación transfronteriza, según proceda.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 7</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">De aquí a 2030, garantizar el acceso universal a servicios energéticos asequibles, fiables y modernos.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">De aquí a 2030, aumentar considerablemente la proporción de energía renovable en el conjunto de fuentes energéticas.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">De aquí a 2030, duplicar la tasa mundial de mejora de la eficiencia energética.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">De aquí a 2030, aumentar la cooperación internacional para facilitar el acceso a la investigación y la tecnología relativas a la energía limpia, incluidas las fuentes renovables, la eficiencia energética y las tecnologías avanzadas y menos contaminantes de combustibles fósiles, y promover la inversión en infraestructura energética y tecnologías limpias.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">De aquí a 2030, ampliar la infraestructura y mejorar la tecnología para prestar servicios energéticos modernos y sostenibles para todos en los países en desarrollo, en particular los países menos adelantados, los pequeños Estados insulares en desarrollo y los países en desarrollo sin litoral, en consonancia con sus respectivos programas de apoyo.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 8</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">Mantener el crecimiento económico per capita de conformidad con las circunstancias nacionales y, en particular, un crecimiento del producto interno bruto de al menos el 7% anual en los países menos adelantados.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2"> Lograr niveles más elevados de productividad económica mediante la diversificación, la modernización tecnológica y la innovación, entre otras cosas centrándose en los sectores con gran valor añadido y un uso intensivo de la mano de obra.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Promover políticas orientadas al desarrollo que apoyen las actividades productivas, la creación de puestos de trabajo decentes, el emprendimiento, la creatividad y la innovación, y fomentar la formalización y el crecimiento de las microempresas y las pequeñas y medianas empresas, incluso mediante el acceso a servicios financieros.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">Mejorar progresivamente, de aquí a 2030, la producción y el consumo eficientes de los recursos mundiales y procurar desvincular el crecimiento económico de la degradación del medio ambiente, conforme al Marco Decenal de Programas sobre modalidades de Consumo y Producción Sostenibles, empezando por los países desarrollados.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">De aquí a 2030, lograr el empleo pleno y productivo y el trabajo decente para todas las mujeres y los hombres, incluidos los jóvenes y las personas con discapacidad, así como la igualdad de remuneración por trabajo de igual valor.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 9</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">Desarrollar infraestructuras fiables, sostenibles, resilientes y de calidad, incluidas infraestructuras regionales y transfronterizas, para apoyar el desarrollo económico y el bienestar humano, haciendo especial hincapié en el acceso asequible y equitativo para todos.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">Promover una industrialización inclusiva y sostenible y, de aquí a 2030, aumentar significativamente la contribución de la industria al empleo y al producto interno bruto, de acuerdo con las circunstancias nacionales, y duplicar esa contribución en los países menos adelantados.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Aumentar el acceso de las pequeñas industrias y otras empresas, particularmente en los países en desarrollo, a los servicios financieros, incluidos créditos asequibles, y su integración en las cadenas de valor y los mercados.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">De aquí a 2030, modernizar la infraestructura y reconvertir las industrias para que sean sostenibles, utilizando los recursos con mayor eficacia y promoviendo la adopción de tecnologías y procesos industriales limpios y ambientalmente racionales, y logrando que todos los países tomen medidas de acuerdo con sus capacidades respectivas.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">Aumentar la investigación científica y mejorar la capacidad tecnológica de los sectores industriales de todos los países, en particular los países en desarrollo, entre otras cosas fomentando la innovación y aumentando considerablemente, de aquí a 2030, el número de personas que trabajan en investigación y desarrollo por millón de habitantes y los gastos de los sectores público y privado en investigación y desarrollo.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 10</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">De aquí a 2030, lograr progresivamente y mantener el crecimiento de los ingresos del 40% más pobre de la población a una tasa superior a la media nacional.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">De aquí a 2030, potenciar y promover la inclusión social, económica y política de todas las personas, independientemente de su edad, sexo, discapacidad, raza, etnia, origen, religión o situación económica u otra condición.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Garantizar la igualdad de oportunidades y reducir la desigualdad de resultados, incluso eliminando las leyes, políticas y prácticas discriminatorias y promoviendo legislaciones, políticas y medidas adecuadas a ese respecto.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">Adoptar políticas, especialmente fiscales, salariales y de protección social, y lograr progresivamente una mayor igualdad.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">Mejorar la reglamentación y vigilancia de las instituciones y los mercados financieros mundiales y fortalecer la aplicación de esos reglamentos.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 11</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">De aquí a 2030, asegurar el acceso de todas las personas a viviendas y servicios básicos adecuados, seguros y asequibles y mejorar los barrios marginales.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">De aquí a 2030, proporcionar acceso a sistemas de transporte seguros, asequibles, accesibles y sostenibles para todos y mejorar la seguridad vial, en particular mediante la ampliación del transporte público, prestando especial atención a las necesidades de las personas en situación de vulnerabilidad, las mujeres, los niños, las personas con discapacidad y las personas de edad.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">De aquí a 2030, aumentar la urbanización inclusiva y sostenible y la capacidad para la planificación y la gestión participativas, integradas y sostenibles de los asentamientos humanos en todos los países.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">Redoblar los esfuerzos para proteger y salvaguardar el patrimonio cultural y natural del mundo</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">De aquí a 2030, reducir significativamente el número de muertes causadas por los desastres, incluidos los relacionados con el agua, y de personas afectadas por ellos, y reducir considerablemente las pérdidas económicas directas provocadas por los desastres en comparación con el producto interno bruto mundial, haciendo especial hincapié en la protección de los pobres y las personas en situaciones de vulnerabilidad.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 12</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">Aplicar el Marco Decenal de Programas sobre Modalidades de Consumo y Producción Sostenibles, con la participación de todos los países y bajo el liderazgo de los países desarrollados, teniendo en cuenta el grado de desarrollo y las capacidades de los países en desarrollo.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">De aquí a 2030, lograr la gestión sostenible y el uso eficiente de los recursos naturales.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">De aquí a 2030, reducir a la mitad el desperdicio de alimentos per capita mundial en la venta al por menor y a nivel de los consumidores y reducir las pérdidas de alimentos en las cadenas de producción y suministro, incluidas las pérdidas posteriores a la cosecha.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">De aquí a 2020, lograr la gestión ecológicamente racional de los productos químicos y de todos los desechos a lo largo de su ciclo de vida, de conformidad con los marcos internacionales convenidos, y reducir significativamente su liberación a la atmósfera, el agua y el suelo a fin de minimizar sus efectos adversos en la salud humana y el medio ambiente.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">De aquí a 2030, reducir considerablemente la generación de desechos mediante actividades de prevención, reducción, reciclado y reutilización.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 13</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">Fortalecer la resiliencia y la capacidad de adaptación a los riesgos relacionados con el clima y los desastres naturales en todos los países.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2"> Incorporar medidas relativas al cambio climático en las políticas, estrategias y planes nacionales.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Mejorar la educación, la sensibilización y la capacidad humana e institucional respecto de la mitigación del cambio climático, la adaptación a él, la reducción de sus efectos y la alerta temprana.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">Cumplir el compromiso de los países desarrollados que son partes en la Convención Marco de las Naciones Unidas sobre el Cambio Climático de lograr para el año 2020 el objetivo de movilizar conjuntamente 100.000 millones de dólares anuales procedentes de todas las fuentes a fin de atender las necesidades de los países en desarrollo respecto de la adopción de medidas concretas de mitigación y la transparencia de su aplicación, y poner en pleno funcionamiento el Fondo Verde para el Clima capitalizándolo lo antes posible.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">Promover mecanismos para aumentar la capacidad para la planificación y gestión eficaces en relación con el cambio climático en los países menos adelantados y los pequeños Estados insulares en desarrollo, haciendo particular hincapié en las mujeres, los jóvenes y las comunidades locales y marginadas.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 14</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">De aquí a 2025, prevenir y reducir significativamente la contaminación marina de todo tipo, en particular la producida por actividades realizadas en tierra, incluidos los detritos marinos y la polución por nutrientes.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">De aquí a 2020, gestionar y proteger sosteniblemente los ecosistemas marinos y costeros para evitar efectos adversos importantes, incluso fortaleciendo su resiliencia, y adoptar medidas para restaurarlos a fin de restablecer la salud y la productividad de los océanos.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Minimizar y abordar los efectos de la acidificación de los océanos, incluso mediante una mayor cooperación científica a todos los niveles.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">De aquí a 2020, reglamentar eficazmente la explotación pesquera y poner fin a la pesca excesiva, la pesca ilegal, no declarada y no reglamentada y las prácticas pesqueras destructivas, y aplicar planes de gestión con fundamento científico a fin de restablecer las poblaciones de peces en el plazo más breve posible, al menos alcanzando niveles que puedan producir el máximo rendimiento sostenible de acuerdo con sus características biológicas.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">De aquí a 2020, conservar al menos el 10% de las zonas costeras y marinas, de conformidad con las leyes nacionales y el derecho internacional y sobre la base de la mejor información científica disponible.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 15</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">Para 2030, luchar contra la desertificación, rehabilitar las tierras y los suelos degradados, incluidas las tierras afectadas por la desertificación, la sequía y las inundaciones, y procurar lograr un mundo con una degradación neutra del suelo.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">Para 2030, velar por la conservación de los ecosistemas montañosos, incluida su diversidad biológica, a fin de mejorar su capacidad de proporcionar beneficios esenciales para el desarrollo sostenible.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Adoptar medidas urgentes y significativas para reducir la degradación de los hábitats naturales, detener la pérdida de la diversidad biológica y proteger las especies amenazadas y evitar su extinción.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">Promover la participación justa y equitativa en los beneficios que se deriven de la utilización de los recursos genéticos y promover el acceso adecuado a esos recursos, como se ha convenido internacionalmente.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">Adoptar medidas urgentes para poner fin a la caza furtiva y el tráfico de especies protegidas de flora y fauna y abordar la demanda y la oferta ilegales de productos silvestres.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 16</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">Reducir significativamente todas las formas de violencia y las correspondientes tasas de mortalidad en todo el mundo.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">Poner fin al maltrato, la explotación, la trata y todas las formas de violencia y tortura contra los niños.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Promover el estado de derecho en los planos nacional e internacional y garantizar la igualdad de acceso a la justicia para todos.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">De aquí a 2030, reducir significativamente las corrientes financieras y de armas ilícitas, fortalecer la recuperación y devolución de los activos robados y luchar contra todas las formas de delincuencia organizada.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">Reducir considerablemente la corrupción y el soborno en todas sus formas.</td>
    				</tr>
  				</tbody>
			</table>
			<table class=" table table-bordered">
  				<thead>
    				<tr>
      					<th scope="col">Objetivo 17</th>
      					<th scope="col">Metas del objetivo</th>
    				</tr>
  				</thead>
  				<tbody>
    				<tr>
      					<th scope="row">1</th>
      					<td colspan="2">Fortalecer la movilización de recursos internos, incluso mediante la prestación de apoyo internacional a los países en desarrollo, con el fin de mejorar la capacidad nacional para recaudar ingresos fiscales y de otra índole.</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      					<td colspan="2">Mejorar la cooperación regional e internacional Norte-Sur, Sur-Sur y triangular en materia de ciencia, tecnología e innovación y el acceso a estas, y aumentar el intercambio de conocimientos en condiciones mutuamente convenidas, incluso mejorando la coordinación entre los mecanismos existentes, en particular a nivel de las Naciones Unidas, y mediante un mecanismo mundial de facilitación de la tecnología.</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      					<td colspan="2">Aumentar el apoyo internacional para realizar actividades de creación de capacidad eficaces y específicas en los países en desarrollo a fin de respaldar los planes nacionales de implementación de todos los Objetivos de Desarrollo Sostenible, incluso mediante la cooperación Norte-Sur, Sur-Sur y triangular.</td>
    				</tr>
    				<tr>
      					<th scope="row">4</th>
      					<td colspan="2">Promover un sistema de comercio multilateral universal, basado en normas, abierto, no discriminatorio y equitativo en el marco de la Organización Mundial del Comercio, incluso mediante la conclusión de las negociaciones en el marco del Programa de Doha para el Desarrollo.</td>
    				</tr>
    				<tr>
      					<th scope="row">5</th>
      					<td colspan="2">Aumentar la estabilidad macroeconómica mundial, incluso mediante la coordinación y coherencia de las políticas.</td>
    				</tr>
  				</tbody>
			</table>

				<!-- JavaScript Bundle with Popper -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    
    	</body>

	</main>

	{% endblock contenido %}


    {% include 'base/footer.html' %}
</html>